<nav class="slds-navbar">
  <div class="slds-container_fluid">
    <ul class="slds-navbar__list">
      {% for item in site.html_pages %}
        {% unless item.title == false or item.url contains "/page" or item.url contains "/404.html" %}
          {% if item.url contains '://' %}
            {% assign url = item.url %}
          {% else %}
            {% assign url = item.url | relative_url %}
          {% endif %}
          <li class="slds-navbar__item{% if item.url == page.url %} slds-is-active{% endif %}">
            {% if item.collectionpage %}
              {% assign collectiondata = site.collections | where: "label", item.collectionpage | first %}
              <a href="{{ url }}" class="slds-text-link">{{ collectiondata.title }}</a>
            {% else %}
              <a href="{{ url }}" class="slds-text-link">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</nav>
